@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap&text=ExpensTrackr');

.header {
    width: fit-content;
    margin: 4rem auto;
    text-align: center;
}

#app-title {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
}

.submit-btn {
    margin: 30px 0;
}

.error-message {
    padding: 0 30px;
    padding-top: 10px;
    text-align: center;
}